In [1]:
wordlist = [
    'bad bad bad nice',
    'bad bad',
    'bad bad bad',
    'bad bad bad bad',
    'bad bad bad good good',
    'bad bad bad nice nice',
]

In [2]:
wordlist

['bad bad bad nice',
 'bad bad',
 'bad bad bad',
 'bad bad bad bad',
 'bad bad bad good good',
 'bad bad bad nice nice']

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
counter = CountVectorizer()

In [5]:
X = counter.fit_transform(wordlist)

In [6]:
X.toarray()

array([[3, 0, 1],
       [2, 0, 0],
       [3, 0, 0],
       [4, 0, 0],
       [3, 2, 0],
       [3, 0, 2]], dtype=int64)

In [7]:
counter.get_feature_names()

['bad', 'good', 'nice']

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [9]:
vectorizer = TfidfVectorizer()

In [10]:
tfidf_vector = vectorizer.fit_transform(wordlist)

In [11]:
tfidf_vector.toarray()

array([[0.85151335, 0.        , 0.52433293],
       [1.        , 0.        , 0.        ],
       [1.        , 0.        , 0.        ],
       [1.        , 0.        , 0.        ],
       [0.55422893, 0.83236428, 0.        ],
       [0.63035731, 0.        , 0.77630514]])

In [12]:
vectorizer.get_feature_names()

['bad', 'good', 'nice']

In [13]:
df = pd.DataFrame(tfidf_vector.toarray(),columns=vectorizer.get_feature_names())

In [14]:
df

        bad      good      nice
0  0.851513  0.000000  0.524333
1  1.000000  0.000000  0.000000
2  1.000000  0.000000  0.000000
3  1.000000  0.000000  0.000000
4  0.554229  0.832364  0.000000
5  0.630357  0.000000  0.776305

In [15]:
row_text = [
    'today is bad bad bad nice',
    'bad good good'
]

In [16]:
row_X = vectorizer.transform(row_text)

In [17]:
row_X.toarray()

array([[0.85151335, 0.        , 0.52433293],
       [0.2166769 , 0.97624337, 0.        ]])

In [18]:
df01 = pd.DataFrame(row_X.toarray(), columns=vectorizer.get_feature_names())
df01

        bad      good      nice
0  0.851513  0.000000  0.524333
1  0.216677  0.976243  0.000000