In [1]:
import pandas as pd

In [7]:
df=pd.DataFrame({
    "price":[95000,100000,120000],
    "old":[25,10,5]
})
df

    price  old
0   95000   25
1  100000   10
2  120000    5

In [8]:
df.mean()

price    105000.000000
old          13.333333
dtype: float64

In [10]:
df.std()

price    13228.756555
old         10.408330
dtype: float64

In [11]:
df-df.mean()

     price        old
0 -10000.0  11.666667
1  -5000.0  -3.333333
2  15000.0  -8.333333

In [12]:
(df-df.mean())/df.std()

      price       old
0 -0.755929  1.120897
1 -0.377964 -0.320256
2  1.133893 -0.800641

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler()

In [15]:
scaler.fit(df)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
df=scaler.transform(df)

In [18]:
pd.DataFrame(df)

         0         1
0 -0.92582  1.372813
1 -0.46291 -0.392232
2  1.38873 -0.980581