In [1]:
import numpy as np
import pandas as pd

In [2]:
data ={
    "X1":[0.2,0.45,0.33,0.54,0.77],
    "X2":[5.6,5.87,6.37,7.9,7.87],
    "X3":[3.56,2.4,1.95,1.32,0.98],
    "y":[100,70,60,45,30]
      }

In [3]:
df=pd.DataFrame(data)
df

     x1    X2    X3    y
0  0.20  5.60  3.56  100
1  0.45  5.87  2.40   70
2  0.33  6.37  1.95   60
3  0.54  7.90  1.32   45
4  0.77  7.87  0.98   30